<div class="modal" tabindex="-1" id="modalFormDel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete category</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete "{{CatName}}" category?
                <form id="delCatForm" action="/Categories/{{CatID}}/delete" method="POST">
                    <input type="text" value="{{CatID}}" class="d-none">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">NO</button>
                <button type="submit" form="delCatForm" id="delCatBtn" class="btn btn-primary" data-mdb-dismiss="modal">YES</button>
            </div>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="delCatToast" class="toast hide bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Delete category successful
            <br>Refresh in 3 seconds...
        </div>
    </div>
</div>