{{>nav}}
<div class="container">
    {{#each plist}}
    <div class="row d-flex justify-content-center">
        {{#each .}}
        <div class="col-4 text-center card mt-3 mb-3 ms-3 me-3" style="width: 25vw;height:25vw">
            <img src="/img/pid/{{ProID}}/main.jpg" width="100%" height="100%" class="ms-auto me-auto">
            <div class="card-body">
                <h5 class="card-title">{{ProName}}</h5>
                <p class="card-text">{{Price}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>